* {
    box-sizing: border-box;
}

html, body {
    font-family: Roboto, Arial;
    margin: 0;
    padding: 0;
}

.container {
    padding: 5px;
    min-height: 100px;
    position: relative;
    margin: 0 auto;
}

.container img{
    max-width: 100%;
    border-radius: 5px;
}

.container h2 {
    text-align: center;
    text-transform: uppercase;
    background-color: rgb(27, 25, 25);
    color: white;
    font-size: 1.5em;

}

.col{
    float: left;
    position: relative;
    padding: 10px;
}

.col-4 {
    width: 25%;
}

.col-3{
    width: 33.3%;
}

.col-2 {
    width: 50%;
}

.col-1 {
    width: 100%;
    margin: auto;
    text-align: center;
}

.box {
    background-color: rgb(94, 90, 90);
    border-radius: 5px;
    margin: 5px;
    border: 1px solid gray;
    padding: 10px;
}

.box .content {
    padding: 10px;
}

.box .content::first-letter{
    font-size: 1.5em;
}

.box footer {
    background-color: rgb(68, 67, 67);
    text-align: center;
    line-height: 25px;
}

.box header{
    background-color: rgb(27, 26, 26);
    text-align: center;
    line-height: 45px;
}

input[type=text], input [type=email], textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.mainForm {
    padding: 25px;
    background-color: #333;
    border: 1px solid #333;
    border-color: #524f4f;
    color: white;
    border-radius: 6px;
    width: 50%;
    margin: auto;
}

.btn {
    background-color: rgb(119, 150, 160);
    font-family: Roboto, Arial;
    color: rgb(39, 37, 37);
    font-size: small;
    border-width: 1px;
    padding: 6px;
    border-radius: 8px;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(69, 156, 185);
    color: black;
    transition: 0.2s;
}

label {
    text-align: left;
    margin-bottom: 6px;
    display: block;
    margin-top: 10px;
}

#message {
    height: 150px;

}

#footer {
    background-color: black;
    color: white;
    min-height: 200px;
    display: block;
    overflow: hidden;
}

.bottom h3{
    text-align: center;
    text-transform: uppercase;
    font-size: 1.4em;
    border-bottom: 1px solid gray;
    padding: 4px;
}

.bottom p{
    text-align: center;
}

.section {
    clear: both;
    border: 1px solid #ddd;
    padding: 20px 0;
    background-color: aliceblue;
    height: auto;
    overflow: hidden;
}

.sec::before{
    content: " ";
    height: 60px;
    display: block;
}

.card {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(82, 77, 77);
    color: black;
}

.header{
    height: 100px;
}

.hero {
    margin-top: 100px;
     color: white;
     font-size: 1em;
     background-color: rgb(29, 25, 25)2, 19, 19;
     text-align: center;
}

.hero h1 {
    font-size: 1.4em;
}

.logo {
    float: left;
    color: white;
    width: 200px;
    height: 50px;
    margin-left: 10px;
    text-align: center;
    line-height: 50px;
}

.logo img {
    width: 75%;
}

nav ul {
    float: right;
    list-style: none;
    margin: 0;
    padding: 0;
    
}

nav ul li {
    float: left;
    position: relative;
  
}

nav ul li a{
    padding: 15px;
    text-decoration: none;
    color: white;
    font-size: 1.5em;
}

nav ul li:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

.mainHeader {
    position: fixed;
    left: 0;
    top: 0;
    height: 100px;
    background-color: #000;
    width: 100%;
    z-index: 10;
    padding: 5px;
}

@media all and (max-width:760px){
    .mainHeader {
        height: auto;
    }
    .logo {
        float: none;
        margin: 10px auto 20px;
    }
    nav ul {
        float: none;
        margin: 0 auto;
        text-align: center;
    }
    nav ul li {
        float: initial;
        display: inline-block;
    }
    nav ul li a{
        padding: 0 15px;
    }
    .col-4{
         width: 50%;
    }
   
}

@media all and (max-width:600px){
    .col-3, .col-2, .col-1{
        width: 100%;
        margin: auto;
        text-align: center;
   }
   .mainForm {
    padding: 25px;
    background-color: #333;
    color: white;
    width: 100%;
}

}